/* 
body {
    background-color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3{
    text-align: center;
}

#leftFilm{
    font-size: 60px;
    float: left;
    position: relative;
}

#rightFilm{
    font-size: 60px;
    float: right;
    position: relative;
}

#submit{
    margin: 15px;
}
.searchBar{
    margin-left: 675px;
}
.container{
    text-align: center;
}
*/

i {
    font-size: 80px;
}
