i {
    font-size: 80px;
}

.searchBar{
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width:50%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
}

body {
    background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); 
}

#ratings {
    width: 25%; 
}

#plot, #info {
    width: 600px; 
    padding: 5px; 
}

#poster {
    float: right; 
}

#searchPage{
    margin: 0 auto;
}
#docHeading{
    text-align: center;
    padding: 20px;
    margin-top: 25px; 
}

#documentation {
    width: 50%;
    margin: 0 auto;
}

.doc{
    padding: 3px;
}

a:link{
    color: #FF2400;
}
a:visited{
    color: #C21807;
}

#movieTitle {
    margin-top: 45px; 
}

@media only screen and (max-width: 1200px){
    #plot, #info {
        width: 500px; 
    }

    #documentation {
        width: 80%; 
    }
}
@media only screen and (max-width: 1000px){
    #plot, #info, #ratings { 
        width: 300px; 
    }
}
@media only screen and (max-width: 770px){
    #plot, #ratings{
        width: 200px; 
    }

    #plot {
        float: left; 
        padding-bottom: 29.5px; 
    }

    #info {
        float: right; 
    }
}
@media only screen and (max-width: 715px){
    i {
        font-size: 65px; 
    }
}
@media only screen and (max-width: 685px){
    i {
        font-size: 60px; 
    }
}
@media only screen and (max-width: 575px){
    i {
        font-size: 50px; 
    }
}
@media only screen and (max-width: 555px){
    #info, #plot {
        float: none; 
    }

    #info, #plot, #ratings {
        width: 100%; 
    }

    i {
        font-size: 40px; 
    }

    #poster { 
        float: none; 
        width:95%; 
    }

    #imgContainer {
        width: 65%; 
        margin: 0 auto; 
    }

    h3 {
        text-align: center; 
    }
}

